@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import 'utilize.css';
*{
    padding: 0px;
    margin: 0px;
    /* outline: none; */
    box-sizing: border-box;
    list-style-type: none;
    --webkit-font-smotthing:antialiased;
}
a{
    text-decoration: none;
}
img{
    vertical-align: middle;
}
body{
    font-family: 'Poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
}
:root{
    --primary:#3dcfd3;
    --dark:#161616;
    --pure:#ffffff;
    --ternary:#898989;
    --light:#f2f2f2f2;
    --secondary:#070606;
}
header{
    background: var(--dark);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 70% 87%, 0 96%);
}
.container{
    max-width: 1152px;
    margin: 0px auto;
    padding: 0.7rem 14px;
}


@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width:992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1152px;
    }
}






.left ul{
    margin-left: 3rem;
}
.left ul a li{
    margin-right: 2rem;
    color: var(--pure);
    text-transform: uppercase;
    transition: all .3s ease;
}
.left ul a li:hover{
    color: var(--primary);
}

/* ======== HEADER HERO START ========= */
.hero{
    padding: 3rem 0px;
}
.hero .hero-left img{
    width: 400px;
}
.hero .hero-right{
    color: var(--pure);
    margin-top: -7rem;
}
.hero .hero-right h6{
    font-size: 2rem;
    font-weight: 300;
    color: var(--primary);
}
.hero .hero-right h1{
    font-weight:200;
    font-size: 4rem;
    line-height: 1.2;
}
.hero .hero-right h1 span{
    display: block;
    color: var(--primary);
    margin-bottom: 2rem;
}
.hero .hero-right p{
    font-size: 16px;
    font-weight: 200;
    margin-bottom: 2rem;
    line-height: 1.9;
}
/* ======== HEADER HERO END ========= */
/* ======== ABOUT START ============= */    
section{
    padding: 6rem 0;
}
section.about .about-me-img{
    height: 450px;
}
section.about h1{
    margin-bottom: 1rem;
    font-size: 1.6rem;
    font-weight: 400;
}
section.about h1 span{
    color: var(--primary);
}
section.about h3{
    font-size: 1rem;
    margin-bottom: 1rem;
    font-weight: 400;
}
section.about p{
    font-family: "Lato", sans-serif;
    color: var(--dark);
    line-height: 1.9;
    margin-bottom: 2rem;
    font-weight: 300;
    transition: all 0.3s ease;
}

section.about p::selection{
    background: var(--primary);
}
section.about p:hover{
    color: var(--secondary);
}
section.about .p-first-child{
    margin-bottom: 1.3rem;
}
section.about .social{
    display: flex;
}
section.about .social a{
    background: var(--dark);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 0.6rem;
    transition: all .3s ease
}
section.about .social a:hover{
    background: var(--primary);
}
section.about .social a img{
    width: 100%;
    height: 100%;
    padding: 0.5rem;
}
/* ======== ABOUT END ============= */

/* ======== OUR-SERVICES START ========== */
section.services{
    background: var(--light);
}
.section-heading{
    color: var(--secondary);
    text-align: center;
    margin-bottom: 1rem;
    line-height: 0.5;
}
.section-heading span{
    color: var(--primary);
}
.section-heading + p{
    color: var(--ternary);
    font-family: 'Lato' sans-serif;
    margin-bottom: 8rem;
    text-align: center;
}
section.services .card-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap:2rem;
    grid-row-gap: 6rem;
}
section.services .card-wrapper .card{
    background: var(--pure);
    padding: 3rem 2rem;
    position: relative;
    padding-top: 5rem;
    text-align: center;
    transition: all 0.3s ease;
}
section.services .card-wrapper .card img{
    position: absolute;
    top: -3.5rem;
    left: 50%;
    transform: translateX(-50%);
}
section.services .card-wrapper .card h2{
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
}
section.services .card-wrapper .card p{
    font-family: 'Lato' sans-serif;
    color: var(--ternary);
    line-height: 1.6;
}
section.services .card-wrapper .card:hover{
    background: var(--dark);
}
section.services .card-wrapper .card:hover h2, section.services .card-wrapper .card:hover p{
    color: var(--pure);
}
/* ======== OUR-SERVICES END ========== */
/* ======== FREELANCER START ========= */
section.freelancer{
    text-align: center;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),url(../images/camera.png);
    color: var(--pure);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 67% 80%, 0 100%);
    padding-bottom: 14rem;
}
section.freelancer h1{
    font-size: 2rem;
    margin-bottom: 0.5rem;
}
section.freelancer p{
    margin-bottom: 2rem;
    font-family: 'Lato' sans-serif;
}
/* ======== FREELANCER END ========= */

/* ========  REVIEW SLIDE START ========= */
section.reviews .re-margin-bottom{
    margin-bottom: 5rem;
}
section.reviews .slider .slide{
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 6rem;
}
section.reviews .slider .slide img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 2rem;
}
section.reviews .slider .slide p{
    font-family: 'Lato' sans-serif;
    color: var(--ternary);
    margin-bottom: 1rem;
}
section.reviews .slider .slide span{
    font-size: 0.8rem;
}
section.reviews .slider-dots{
    margin-top: 3rem;
}
section.reviews .slider-dots .dots{
    display: flex;
    justify-content: center;
}
section.reviews .slider-dots button{
    font-size: 0;
    width: 8px;
    height: 5px;
    margin-right: 0.3rem;
    border: none;
    outline: none;
    background: var(--ternary);
    border-radius: 50px;
    cursor: pointer;
}
section.reviews .dots li.slick-active button{
    width: 30px;
    background: var(--primary);
}

/* ======== REVIEW SLIDE END ========= */

/* ============= WORK START ========== */
section.work{
    background: var(--light);
}
section.work .card-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap:2rem;
    grid-row-gap: 6rem;
}
section.work .card-wrapper .card{
    position: relative;
    /* height: 250px; */
}
section.work .card-wrapper .card .overlay{
    position: absolute;
    top: 0;
    left: 0;
    color: var(--light);
    background: rgba(61,207,211,0.9);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 0.3s ease;
}
section.work .card-wrapper .card img{
    height: 100%;
    width: 100%;
}
section.work .card-wrapper .card .overlay a{
    color: var(--secondary);
    text-decoration: none;
}
section.work .card-wrapper .card:hover .overlay{
    opacity: 1;
}
/* ============= WORK END ========== */
/* ============= BLOG START ========== */
section.blog{
    background: var(--dark);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 72% 90%, 0 100%);
    padding-bottom: 12rem;
}
section.blog .section-heading{
    color: var(--pure);
}
section.blog .card-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem;
}
section.blog .card-wrapper .card{
    background: var(--pure);
}
section.blog .card-wrapper .card .card-content{
    padding: 2rem;
    padding-top: 1rem;
}
section.blog .card-wrapper .card .card-content h1{
    font-size: 1rem;
    font-weight: 600;
}
section.blog .card-wrapper .card .card-content a{
    color: var(--secondary);
    transition: all 0.1s ease;
}
section.blog .card-wrapper .card .card-content a:hover{
    color: var(--primary);
}
section.blog .card-wrapper .card .card-content span{
    color: var(--ternary);
}
section.blog .card-wrapper .card .card-content P{
    font-family: 'Lato' sans-serif;
    color: var(--ternary);
    margin-top: 1rem;
    margin-bottom: 1rem;
}
section.blog .card-wrapper .card .card-content a{
    font-size: 0.8rem;
}
section.blog .card-wrapper .card img-wrapper{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* ============= BLOG END ========== */

/* ============= CONTACT START ====== */
section.contact .card-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2rem;
    margin-bottom: 5rem;
    margin-top: -2rem;
}
section.contact .card-wrapper .card{
    position: relative;
    text-align: center;
}
section.contact .card-wrapper .card img{
    width: 50px;
    height: 40px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
section.contact .card-wrapper .card h1{
    font-size: 1rem;
    font-weight: 400;
    margin-top: 5rem;
    margin-bottom: 0.4rem;
}
section.contact .card-wrapper .card h6{
    color: var(--ternary);
    font-weight: 400;
    font-size: 1rem;
}


section.contact .input-wrap{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap:2rem;
    margin-bottom: 2rem;
}
section.contact .input-wrap-2{
    display: flex;
    flex-direction: column;
}
section.contact input{
    padding: 0.5rem;
    border: 1px solid #89898939;
}
section.contact .input-wrap-2 input{
    margin-bottom: 2rem;
    font-size: 0.9rem;
}
section.contact .input-wrap-2 textarea{
    padding: 0.5rem;
    border: 1px solid #89898939;
}
section.contact .btn-wrapper{
    margin-top: 2rem;
    text-align: center;
}
section.contact input:focus , section.contact textarea:focus{
    outline-color: var(--primary);
    outline-style: ridge;
}

/* ============= CONTACT END ====== */

/* ============= FOOTER START ======= */
footer{
    background: var(--dark);
    text-align: center;
    padding: 5rem 0;
}
footer .footer-logo{
    width: 150px;
    margin-bottom: 3rem;
}

footer .footer-socials{
    display: flex;
    justify-content: center;
}
footer .footer-socials a{
    background: var(--dark);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 0.6rem;
    transition: all .3s ease
}
footer .footer-socials a:hover{
    background: var(--primary);
}
footer .footer-socials a img{
    width: 100%;
    height: 100%;
    padding: 0.3rem;
}
footer .copy-right{
    color: var(--ternary);
    margin-top: 3rem;
}


/* ============= FOOTER END ======= */

header.site-main-wrapper{
    position: relative;
}
.hamberger{
    position: absolute;
    top: 40px;
    right: 40px;
    z-index: 11;
    background: none;
    border: none;
    cursor: pointer;
}
.hamberger img{
    width: 30px;
}

.mobile-nav{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
    background: var(--light);
    width: 100%;
    height: 100%;
    padding: 2rem;
    padding-top: 35px;
    transform: translateX(-100%);
    transition: all 0.5s ease-in-out;
    backdrop-filter: blur(1px);
}
.open{
    transform: translateX(0);
}
.mobile-nav .nav-logo{
    width: 120px;
    border-left: 8px solid var(--primary);
    padding-left: 8px;
    /* height: 85px; */
    margin-bottom: 2rem;
}
.times{
    position: absolute;
    top: 30px;
    right: 30px;
    border: none;
    background: none;
    cursor: pointer;
}
.times img{
    width: 50px;
}
.mobile-nav ul li{
    margin-bottom: 0.6rem;
}
.mobile-nav ul li a{
    color: var(--secondary);
    text-transform: uppercase;
    transition: all .3s ease;
    font-size: 1.5rem;
}
.mobile-nav ul li a:hover{
    color: var(--primary);
}





.hamberger-logo{
    position: absolute;
    top: 35px;
    left: 40px;
    z-index: 11;
}
.hamberger-logo img{
    width: 120px;
    border-left: 8px solid var(--primary);
    padding-left: 8px;
}

/* ================================= Mobaile screen =============================== */

@media (max-width:1224px) {
    header #main-nav{
        display: none;
    }
    header {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 26.5% 87%, 0 100%);
    }
    .hero .hero-left img{
        width: 260px;
    }
    .hero .hero-right h1{
        font-size: 3rem;
    }
    section.about .about-me-img {
    height: 360px;
    }
    section.services .card-wrapper{
        grid-template-columns: repeat(2, 1fr);
    }
    section.work .card-wrapper{
        grid-template-columns: repeat(2, 1fr);
    }
    section.work .card-wrapper .card{
        /* height: 235px; */
    }
    section.blog .card-wrapper{
        grid-template-columns: repeat(1, 1fr);
    }
    section.blog .card-wrapper .card .img-wrapper img{
        width: 100%;
    }
    section.blog{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 67% 97%, 0 100%);
    }

}

@media (max-width:576px){
    .hero{
        flex-direction: column;
        margin-top: 2rem;
        position: relative;
    }
    header{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 69% 94%, 0 100%);
        padding-bottom: 12rem;
    }
    .hero .hero-right{
        margin-top: 3rem;
        /* padding: 0.7rem; */
        /* padding-bottom: 2rem; */
        position: absolute;
    }
    .hero .hero-right p{
        background: linear-gradient(#16161600, #161616, #161616);
    }
    .hamberger-logo img{
        width: 100px;
        margin-left: -15px;
        
    }
    .hamberger{
        top: 40px;
        right: 30px;
    }
    .hero .hero-right h1{
        /* background: linear-gradient(to right , #161616, #16161607); */
    }
    .hero .hero-left img{
        width: 180px;
        margin-right: -160px;
        opacity: 0.8;
    }
    .about-inner-wrapp{
        flex-direction: column;
    }

    section.about .about-right{
        text-align: center;
        margin-top: 2rem;
        align-items: center !important;
        justify-content: center;
    }
    section.about .social{
        justify-content: center;
    }
    section {
        padding: 2rem 0;
    }
    section.services .card-wrapper {
        grid-template-columns: 1fr;
    }
    section.freelancer{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 67% 88%, 0 100%);
        padding-bottom: 7rem;
    }
    section.reviews .slider .slide{
        padding: 0;
    }
    section.reviews .re-margin-bottom{
        margin-bottom: 3rem;
    }
    section.work .card-wrapper{
        grid-template-columns: repeat(1, 1fr);
    }
    section.work .card-wrapper .card{
        /* height: 273px; */
    }
    section.blog{
        padding-bottom: 7rem;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 67% 98%, 0 100%);
    }
    section.blog p{
        margin-bottom: 5rem;
    }
    section.contact .card-wrapper{
        grid-template-columns: repeat(1, 1fr);
        margin-bottom: 2rem;
    }
    section.contact .card-wrapper .card{
        margin-bottom: 3rem;
    }
    section.contact p{
        margin-bottom: 5rem;
    }
    section.contact .input-wrap {
        grid-template-columns: repeat(1, 1fr);
        margin-bottom: 0;
    }
    section.contact input {
        margin-bottom: 1rem;
    }

}




@media (min-width:1224px) {
    .hamberger{
        display: none;
    }
    .hamberger-logo{
        display: none;
    }
}
